
.a{
    color:#000000;
    font-size:9pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    font-weight:normal;
    line-height: 130%;
    margin-left:10pt;
    margin-right:5pt;
}

.a2{
    color:#000000;
    font-size:9pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    font-weight:normal;
    line-height: 160%;
    margin-left:20pt;
    margin-right:0pt;
}

.b{
    color:#000000;
    font-size:12pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    font-weight:bold;
    line-height: 130%;
    margin-left:180pt;
}

.b2{
    color:#000000;
    font-size:9pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    font-weight:normal;
    line-height: 130%;
    margin-left:90pt;
}

.c{
    color:#000000;
    font-size:9pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    font-weight:normal;
    line-height: 130%;
    margin-left:0pt;
    margin-right:0pt;
}

.d{
    color:#333333;
    font-size:9pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    font-weight:normal;
    line-height: 130%;
}

.e{
    color:#333333;
    font-size:8pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    font-weight:normal;
    line-height: 130%;
}

.f{
    color:#000000;
    font-size:9pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    font-weight:normal;
    line-height: 13pt;
    padding-left:10pt;
    padding-right:10pt;
}

.g{
    color:#000000;
    font-size:9pt; 
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica; 
    text-indent:10pt; 
    line-height:150%; 
    padding-top:10pt; 
    padding-bottom:10pt; 
    padding-left:20pt; 
    padding-right:20pt;
}

.h{
    color:#000000;
    font-size:9pt; 
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica; 
    text-indent:10pt; 
    padding-top:10pt; 
    padding-bottom:10pt; 
    padding-left:20pt; 
    padding-right:20pt;
}

.j{
    color:#000000;
    font-size:9pt; 
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica; 
    padding-top:10pt; 
    padding-bottom:10pt; 
}

.k{
    color:#000000;
    font-size:9pt; 
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica; 
    padding-top:10pt; 
    padding-bottom:10pt; 
    padding-left:10pt; 
    padding-right:10pt;
}


.left_menu{
    color:#000000;
    font-size:9pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    line-height:14pt;
    font-weight:normal;
    margin-left:0pt;
    margin-right:0pt;
    padding-left:8pt;
    padding-right:8pt;
}
.special{ 
    color: #cc3399;
    font-size: 8pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    font-weight:bold;
    line-height: 150%;
    magin-left:0pt;
    margin-right:0pt;
    text-decoration:underline
}

.special2{ 
    color: #5E8745;
    font-size: 8pt;
    font-family:±¼¸²,±¼¸²Ã¼,Arial,Helvetica;
    font-weight:bold;
    line-height: 150%;
    magin-left:0pt;
    margin-right:0pt;
    text-decoration:underline
}
.frm1   { height:20px; border-width:1; border-style:rigid; border-color:#c5c5c5; background-color:#dfdfdf;font-size:9pt}
.frm2   { height:20px; border-width:1; border-style:rigid; border-color:#FFFFFF; background-color:#FFFFFF;font-size:9pt}
.frm3   { height:20px; border-width:0; border-style:rigid; font-size:9pt}

 body,td,th  	{font-size:9pt; text-decoration:none; color:#000000; line-height:14pt;}
 input, select 	{font-size:9pt; text-decoration:none; color:#000000; line-height:12pt;}
 textarea 	{font-size:9pt; text-decoration:none; color:#000000; line-height:12pt;}
 
 a:link   	{font-size:9pt; text-decoration:none; color:#000000}
 a:visited	{font-size:9pt; text-decoration:none; color:#000000}
 a:hover  	{font-size:9pt; text-decoration:underline; color:#000000}

 a.club         {font-size:9pt; font-family:±¼¸²; color:#437FB0; text-decoration:none;}
 a.club:visited	{font-size:9pt; font-family:±¼¸²; color:#437FB0; text-decoration:none;}
 a.club:hover   {font-size:9pt; font-family:±¼¸²; color:#E03ACC; text-decoration:underline;}

 a.desk         {font-size:9pt; font-family:±¼¸²; color:#805C3E; text-decoration:none;}
 a.desk:visited	{font-size:9pt; font-family:±¼¸²; color:#805C3E; text-decoration:none;}
 a.desk:hover   {font-size:9pt; font-family:±¼¸²; color:#37463E; text-decoration:underline;}
